h1{
    text-align: center;
}

.productos{
    display: flex;
    flex-flow: row wrap;
    padding: 0 25px;
    margin-bottom: 20px;
}

.producto{
    width: 31vw;
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
}

.producto img {
    width: 90%;
    height: 50%;
}

a {
    text-decoration: none;
    color: #888888;
    font-size: 1.3rem;
}

a:hover{
    transform: scale(1.2,1.2);
}