<h1>Productos</h1>
<div class="productos">
    <div class="card producto">
        <img src="../../assets/varillaCorrugada.png" class="card-img-top" alt="imagen de varilla" width="100">
        <div class="card-body">
            <h5 class="card-title">Varrilla Corrugada</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
    <div class="card producto">
        <img src="../../assets/varillaCorrugada.png" class="card-img-top" alt="imagen de varilla" width="50">
        <div class="card-body">
            <h5 class="card-title">Varrilla Corrugada</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
    <div class="card producto">
        <img src="../../assets/varillaCorrugada.png" class="card-img-top" alt="imagen de varilla" width="50">
        <div class="card-body">
            <h5 class="card-title">Varrilla Corrugada</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
    <div class="card producto">
        <img src="../../assets/varillaCorrugada.png" class="card-img-top" alt="imagen de varilla" width="50">
        <div class="card-body">
            <h5 class="card-title">Varrilla Corrugada</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
</div>
<app-producto></app-producto>
<app-footer></app-footer>