<header>
    <div class="logo">SAN FRANCISCO</div>
    <nav>
        <ul *ngIf="!isUserLoggedIn">
            <li *ngFor="let item of menuPu"> <a routerLink="{{item.url}}" 
                class="{{item.clase}}">{{item.titulo}}</a> </li>
            <!-- <li> <a routerLink="/catalogo" class="">Catálogo</a> </li>
            <li> <a routerLink="iniciar-sesion" class="sesion">Iniciar Sesión</a> </li> -->
        </ul>
        <ul *ngIf="isUserLoggedIn">
            <li><a routerLink="historia" class="sesion" 
                (click)="cerrarSesion();">Cerrar Sesi&oacute;n</a></li>
        </ul>
    </nav>
</header>