<h2 align="center">Modificar Producto</h2>
<div class="container contenedor">
    <form autocomplete="off">
        <div class="form-group mb-3">
            <label for="nombre" class="display-6">Nombre del producto:</label>
            <input type="text" [(ngModel)]="producto.nombre" name="nombre" class="form-control form-control-lg" id="nombre" />
        </div>
        <div class="form-group mb-3">
            <label for="marca" class="display-6">Marca del producto:</label>
            <input type="text" [(ngModel)]="producto.marca" name="marca" class="form-control form-control-lg" id="marca" />
        </div>
            <div class="input-group mb-3">
            <select [(ngModel)]="producto.categoria" name="categoria" class="form-select form-control form-control-lg" id="marca">
                <option selected>Choose...</option>
                <option value="Cementicios">Cementicios</option>
                <option value="Construcción">Construcci&oacute;n</option>
                <option value="Electricidad">Electricidad</option>
            </select>
            <label class="input-group-text display-6" for="marca">Options</label>
        </div>
        <div class="form-group mb-3">
            <label for="descrip" class="display-6">Descripci&oacute;n:</label>
            <textarea [(ngModel)]="producto.descripcion" name="descrip" rows="5" class="form-control form-control-lg" id="descrip"></textarea>
        </div>
        <div class="form-group mb-3">
            <label for="imagen" class="display-6">Imagen:</label>
            <input type="file" name="imagen" (change)="capturarFile($event);" class="form-control form-control-lg" id="imagen" />
            <div *ngIf="producto.imagen">
                <img [src]=producto.imagen alt="" width="100px">
            </div>
            </div>
        <div class="form-group mb-3">
            <label for="stock" class="display-6">Stock:</label>
            <input type="number" [(ngModel)]="producto.stock"  name="stock" value="100" class="form-control form-control-lg" id="stock"
            min="1" />
        </div>
        <hr>
        <h3 align="center">Informaci&oacute;n Adicional</h3>
        <div class="form-group mb-3">
            <label for="titulo" class="display-6">T&iacute;tulo:</label>
            <input type="text" [(ngModel)]="producto.InformacionAdicional.titulo" name="titulo" class="form-control form-control-lg" id="titulo" />
        </div>
        <div class="form-group mb-3">
            <label for="imagen" class="display-6">Imagen:</label>
            <input type="file" name="imagen" (change)="capturarFile1($event);" class="form-control form-control-lg" id="imagen" />
            <div *ngIf="producto.InformacionAdicional.imagen">
                <img [src]=producto.InformacionAdicional.imagen alt="" width="100px">
            </div>
        </div>
        <div class="form-group mb-3">
            <input type="submit" class="btn btn-primary" value="Modificar" (click)="modificar();">
        </div>
    </form>
</div>