<h1>Historia</h1>
<div class="hero">
    <div class="hero-content">
        <div class="left">
            <img src="../../assets/principal.jpg" alt="imagen de la ferreteria" width="500px" />
        </div> 
        <div class="right">
            <p>La ferretería San Francisco nació para continuar con el sueño familiar del señor Marco Suntaxi que 
                con mucho esfuerzo la construyo e inició operaciones en el mes de Febrero del año 2016.
            </p>
            <p>
                El señor Marco tiene un ferretería con muchos mas años en operaciones pero esta est&aacute; limitada por el espacio ya que se encuentra
                en el centro del pueblo por tanto la ferretería con menor años en operaciones es la nueva apuesta donde pueden ofrecer una mayor cantidad de 
                productos a precios accesibles
            </p>
            <p>El objetivo principal de la Ferreteria es vender productos de calidad todos orientados a la obra gris, además 
                ofrecen servicio de entrega a domicilio y tambien asistencia complete durante la compra de cualquiera de los árticulos
                que tienen en las perchas.
            </p>
        </div> 
    </div>
</div>

<div class="ubicacion">
    <h1>Ubicada en</h1>
    <div id="map"></div>
</div>
<app-footer></app-footer>