<div class="contenido">
    <div class="img"> <img src="../../assets/varillaCorrugada.png" alt=""> </div>
    <div class="content">
        <h1>Varilla Corrugada</h1>
        <table>
            <tr>
                <td>Diametro</td>
                <td>kg/m</td>
            </tr>
            <tr>
                <td>8</td>
                <td>0.395</td>
            </tr>
        </table>
        <div class="detalles">
            <div>
                <label for="cant">Cantidad:</label>
                <input type="number" name="cant" id="cant" value="1"/>
            </div>
            <div>
                <label for="pre">Precio:</label>
                <input type="number" name="pre" id="pre" value="20.15"/>
            </div>
        </div>
    </div>
</div>

<h2>Descripcion</h2>
<p>descripcion</p>
<app-footer></app-footer>